In [ ]:
#task_1
class Marks:
    def __init__(self,mark):
        self.mark=mark
    def __add__(self,other):
        sum=self.mark+other.mark
        return Marks(sum)

Q1 = Marks(int(input("Quiz 1 (out of 10): ")))
Q2 = Marks(int(input("Quiz 2 (out of 10): ")))
Lab = Marks(int(input("Lab (out of 30): ")))ac
Mid = Marks(int(input("Mid (out of 20): ")))
Final = Marks(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

Quiz 1 (out of 10): 10
Quiz 2 (out of 10): 10
Lab (out of 30): 20
Mid (out of 20): 20
Final (out of 30): 30
Total marks: 90

In [ ]:
#task_1
class Marks:
    def __init__(self, x):
        self.mark = x
    #def __repr__(self):
        #return f"The result is {self.mark}"
    def __add__(self, other):
        return Marks(self.mark+other.mark)
Q1 = Marks(int(input("Quiz 1 (out of 10): ")))
Q2 = Marks(int(input("Quiz 2 (out of 10): ")))
Lab = Marks(int(input("Lab (out of 30): ")))
Mid = Marks(int(input("Mid (out of 20): ")))
Final = Marks(int(input("Final (out of 30): ")))

total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

In [ ]:
#task_2
class Course:
    def __init__(self,c):
        self.c=c
class Teacher:
    def __init__(self,name,dept):
        self.__name=name
        self.__dept=dept
        self.__list_course=[]


    def addCourse(self,ff):
        self.__list_course.append(ff.c)
    def printDetail(self):
        print('====================================')
        print('Name:',self.__name)
        print('Department:',self.__dept)
        print('list of course:')
        print('====================================')
        for x in self.__list_course:
            print(x)
t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")
c1 = Course("CSE 110 Programming Language I")
c2 = Course("CSE 111 Programming Language-II")
c3 = Course("CSE 220 Data Structures")
c4 = Course("CSE 221 Algorithms")
c5 = Course("CCSE 230 Discrete Mathematics")
c6 = Course("CSE 310 Object Oriented Programming")
c7 = Course("CSE 320 Data Communications")
c8 = Course("CSE 340 Computer Architecture")
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

====================================
Name: Saad Abdullah
Department: CSE
list of course:
====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
====================================
Name: Mumit Khan
Department: CSE
list of course:
====================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
====================================
Name: Sadia Kazi
Department: CSE
list of course:
====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture

In [ ]:
#task_3
class Player:
    def __init__(self,name):
        self.name=name
class Team:
    def __init__(self,team=None):
        self.__team=team

        self.__players=[]

    def setName(self,t_n):
        self.__team=t_n
    def addPlayer(self,p_n):
        self.__players.append(p_n.name)
    def printDetail(self):
        print("========================")
        print(f'Team: {self.__team}')
        print('List of Players: ')
        print(self.__players)
        print("========================")
b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a=Team('Australia')
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

========================
Team: Bangladesh
List of Players:
['Mashrafi', 'Tamim']
========================
========================
Team: Australia
List of Players:
['Ponting', 'Lee']
========================

In [ ]:
#task_4 
class Color:
    def __init__(self,c):
        self.clr=c
        #3 color
        #red,blue,yellow

    def __add__(self, other):
        if self.clr=='red' and other.clr=='yellow':
            return Color('orange')
        elif self.clr=='red' and other.clr=='blue':
            return Color('violet')
        elif self.clr=='yellow' and other.clr=='blue':
            return Color('green')
        elif self.clr=='yellow' and other.clr=='red':
            return Color('orange')
        elif self.clr=='blue' and other.clr=='red':
            return Color('violet')
        elif self.clr=='blue' and other.clr=='yellow':
            return Color('green')
C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)#task_4

First Color: yellow
Second Color: blue
Color formed: green

In [ ]:
#task-4
class Color:
    def __init__(self, name):
        self.clr = name
    def __add__(self, other_color):
        mixtures = {
            'Orange':
                ['red', 'yellow'],
            'Violet':
                ['red', 'blue'],
            'Green':
                ['yellow', 'blue']
        }
        for key, value in mixtures.items():
            if self.clr in value and other_color.clr in value:
                self.clr = key
                return self
C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

In [ ]:
#task_5
import math
class Circle:

    def __init__(self,r):
        self.__r=r

    def getRadius(self):
        return self.__r

    def setRadius(self,r1):
        self.__r=r1
    def area(self):
        k=self.__r**2
        return math.pi*k
    def __add__(self, other):
        new_r=self.__r+other.__r
        return Circle(new_r)

c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
c3 = c1 + c2
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483
Third circle radius: 9
Third circle area: 254.46900494077323

In [ ]:
#task_6
class Triangle:
    def __init__(self,base,height):
        self.__b=base#private
        self.__h=height#private

    def getBase(self):
        return self.__b
    def getHeight(self):
        return self.__h
    def setBase(self,base):
        self.__b=base
    def setHeight(self,height):
        self.__h=height

    def area(self):
        return .5*self.__b*self.__h
    def __sub__(self, other):
        a=self.__b-other.__b
        b=self.__h-other.__h
        return Triangle(a,b)
t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())
t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())
t3 = t1 - t2
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

In [ ]:
#task_7
class Dolls:
    def __init__(self,doll,price):
        self.doll=doll
        self.price=price
        self.c=1
    def __gt__(self, other):
        if self.price>other.price:
            return True
        else:
            return False
    def __add__(self, other):
        a=self.doll +' '+other.doll
        b=self.price +other.price
        c=self.c+1
        return Dolls(a,b)
    def detail(self):
        if self.c > 1:
            return f'Dolls: {self.doll}\n' + f'Total Price: {self.price} taka'
        else:
             return f'Doll: {self.doll}\n' + f'Total Price: {self.price} taka'

obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")
print("=========================")
obj_2 = Dolls("Daffy Duck", 1800)
print(obj_2.detail())
if obj_2 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")
print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")
print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")
print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

Doll: Tweety
Total Price: 2500 taka
Thank you!
=========================
Doll: Daffy Duck
Total Price: 1800 taka
Thank you!
=========================
Doll: Bugs Bunny
Total Price: 3000 taka
Congratulations! You get the Tweety as a gift!
=========================
Doll: Porky Pig
Total Price: 1500 taka
Thank you!
=========================
Doll: Daffy Duck Bugs Bunny
Total Price: 4800 taka
Congratulations! You get the Tweety as a gift!

In [ ]:
#task_8
class Coordinates:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def __sub__(self, other):
        a=self.x-other.x
        b=self.y-other.y
        return Coordinates(a,b)
    def __mul__(self, other):
        a = self.x * other.x
        b = self.y * other.y
        return Coordinates(a, b)
    def __eq__(self, other):
        if self.x==other.x and self.y==other.y:
            return "The calculated coordinates same."
        else:
            return 'The calculated coordinates are NOT the same.'
    def detail(self):
        return (self.x,self.y)
p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))
p4 = p1 - p2
print(p4.detail())
p5 = p1 * p2
print(p5.detail())
point_check = (p4 == p5)
print(point_check)

1
2
3
4
(-2, -2)
(3, 8)
The calculated coordinates are NOT the same.